:root {
  --color-primary: #8989ff;
  --color-primary-light: #ccf;
  --color-secondary: #003;
  --color-accent: #f78a27;
  --color-neutral: #eee;
  --color-neutral2: #e2e2e2;
  --font-primary: "Roboto", rial, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}

a {
  color: var(--color-secondary);
}

ul, dl, ol {
  color: var(--color-primary);
}

dl, dt, dd {
  color: var(--color-primary-light);
}

blockquote, cite {
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
}

em, strong, del, ins, abbr, dfn, b, s, u {
  color: var(--color-primary-light);
}

mark {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}
